---
---

.post-categories {
  margin: 5px 0;
}

.post-category {
  display: inline-block;
  vertical-align: central;
  font-family: monospace;
  font-size: 90%;
  line-height: 1.5em;
  padding: 0 .5em;
  color: #007bff;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-right: 4px;
} 