---
---

.post-categories {
  margin: 5px 0;
}

.post-category {
  background: #e8e8e8;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 12px;
  margin-right: 4px;
  color: #828282;
  text-transform: lowercase;
  display: inline-block;
} 